@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 250%;
    
}

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px;
}



header {
    padding-bottom: 100px;
}

/* hero image */
#hero-image {
    height: 600px;
    width: 100%;
    background-image: url('../css/images/Hero\ Image\ -\ Irish\ Mountains.jpg');
    background-repeat: no-repeat;
    background-position: center;
    }

