@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300&display=swap');



html {
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: rgb(218, 122, 13);
}

body {
    color: rgb(19, 83, 70);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 130%;
}

h1, h2, h3, li {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}


header {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
}

#logo {
    
    height: 200px;
    width: 200px;
}

#name {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    align-self: center;

}

#menu {
    padding-left: 1250px;
    align-self: center;
    padding-top: 20px;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 20px;
}

#menu a {
    font-weight: normal;
}

/* hero image and cover text */
#hero-image {
    height: 400px;
    width: 100%;
    background-image: url('../images/Hero\ Image\ -\ Irish\ Mountains.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    

    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    
}

#welcome {
    text-align: center;
    align-self: center;
    max-width: 50%;
    align-self: left;

    



}

/* zoom-out level for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* main element stylings*/


#essentials {
    margin-left: 200px;
    margin-right: 200px;
    padding: .5%;
    max-width: 50%;
    align-self: center;
}



/*checklist general rules*/

#checklists {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/Essentials\ List\ -\ Background\ Image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    

    height: auto;
    width: 100%;
}
.list {
    border-radius: 5px;
    height: 90%;
    width: 700px;
    text-align: left;
    margin-top: 100px;
    
}

.list h3 {
    text-align: center;
    text-decoration: underline;
}

.list li {
    text-decoration: underline;
}

#essentials-list {
    background-color: rgba(252, 250, 248, 0.75);
    
}

#optional-list {
    background-color: rgba(252, 250, 248, 0.75);
    margin-bottom: 100px;
    padding-right: 10px;
    
}

footer {
    text-align: center;
    
}

#follow-us {
    padding: .5%;
}

.social-links > li {
   display: inline;
   font-size: 200%;
   margin: 1%;
   padding: 5%;
}

/* locations page rules */

#locations-hero-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/Locations\ Hero\ Image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    

    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}


#main-locations {
    padding: 40px;
}

.trail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.trail-info {
    list-style-position: inside;
    list-style-type: square;
}

    


#legnabrocky {
    height: 400px;
    width: 600px;
    align-self: center;
}


    


#glenariff {
    height: 400px;
    width: 600px;
    align-self: center;
}



#carrauntoohil {
    height: 400px;
    width: 600px;
    align-self: center;
}

/* newsletter page rules */

#newsletter-hero {
    height: 400px;
    width: 100%;
    background-image: url(../images/Newsletter\ -\ Hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    

    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

/* form styles */

#signup-box {
    background-image: url(../images/Signup\ Form\ Background\ Image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
    margin: 0 auto;
    padding: 20px 0 20px 200px;
    width: 50%;
    height: 500px;
    text-align: left;
}

#signup-form {
    background-color: rgba(128, 128, 128, .5);
    margin: 20px 250px 100px 0;
}



input[type=text], input[type=email] {
  width: 20%;
  margin-bottom: 30px;

}
