@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300&display=swap');


a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: rgb(218, 122, 13);
}

.active {
    color: rgb(218, 122, 13);
}

.link {
    text-decoration: underline;
}

body {
    color: rgb(19, 83, 70);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 120%;
}

h1, h2, h3, nav li {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}


header {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
}

#logo {
    height: 200px;
    width: 200px;
}

#name {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    margin-right: 20px;
    align-self: center;
}

#menu {
    align-self: center;
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 20px;
}

/* hero image and cover text */
#hero-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/Irish-Mountains-Hero-Image.webp);
    background-repeat: no-repeat;
    background-position: center center;
    

    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

.hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#welcome {
    margin: 0 auto;
    max-width: 50%;
}

/* zoom-out level for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#essentials {
    margin: 0 auto;
    max-width: 50%;
    align-self: center;
}

/*checklist general rules*/

#checklists {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/Essentials-List-Background-Image.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    margin: 0 auto;
    height: auto;
}

.list {
    background-color: rgba(252, 250, 248, 0.75);
    border-radius: 5px;
    height: 90%;
    width: 700px;
    text-align: left;
    margin-top: 100px;
}

.list h3 {
    font-weight: bold;
}

.title {
    text-align: center;
}


#optional-list {
    margin-bottom: 100px;
    padding-right: 10px;
}

footer {
    text-align: center;
}

#follow-us {
    padding: .5%;
}

.social-links > li {
   display: inline;
   font-size: 200%;
   margin: 1%;
   padding: 5%;
}

/* locations page rules */

#locations-hero-image {
    height: 400px;
    width: 100%;
    background-image: url(../images/Locations-Hero-Image.webp);
    background-repeat: no-repeat;
    background-position: center center;

    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}


#main-locations {
    padding: 40px;
}

.trail {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.trail-info {
    list-style-position: inside;
    list-style-type: square;
}

.trail-image {
    height: 600px;
    width: 1000px;
    align-self: center;  
}
/* newsletter page rules */

#newsletter-hero {
    height: 400px;
    width: 100%;
    background-image: url(../images/Newsletter-Hero_1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    
    /* zooms out hero image on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

/* form styles */

#signup-box {
    background-image: url(../images/Signup-Form-Background-Image\ \(1\).webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    padding: 20px 0 20px 0px;
    width: 90%;
    height: 500px;
    
}

#signup-form {
    background-color: rgba(240, 240, 240, 0.9);
    padding: 10px 0 50px 0px;
    margin: 20px 200px 100px ;
    border-radius: 50px;
}



input[type=text], input[type=email] {
  max-width: 100%;
  margin-bottom: 30px;

}
 /* signup page styles */

 #success {
    background-image: url(../images/Signup\ Success.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 550px;
 }

 #success-text {
    padding-top: 20px;
 }

 /* media queries */

 /* for screen size 1500px and lower */
@media screen and (max-width:1500px) {
    
/* header contents */
 
 #logo {
    height: 150px;
    width: 150px;
 }
 #name {
    font-size: 40px;
 }
 #menu {
    font-size: 100%;
 }

 /* home page */

 #checklists {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: none;
 }

 .list {
    align-self: center;
    background-color: rgba(219, 219, 219, 0.75);
    border: 2px solid;
    border-color: rgb(19, 83, 70);
 }

}

/* for screen size 1080px and lower */

@media screen and (max-width:1080px) {
     
/* header contents */

 #menu {
    font-size: 90%;
    
 }
}

 